<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Business</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/style.css")}}'>

</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">TradeMate</a>
            <ul class="nav-links">
                <li><a href="/dashboard" {% if request.path == '/dashboard' %}class="active"{% endif %}>Home</a></li>
                <li><a href="/my_businesses" {% if request.path == '/my_businesses' %}class="active"{% endif %}>My Business</a></li>
                <li><a href="/add_business" {% if request.path == '/add_business' %}class="active"{% endif %}>Add Business</a></li>
                <li><a href="/categories" {% if request.path == '/categories' %}class="active"{% endif %}>Categories</a></li>
                <li><a href="/logout" {% if request.path == '/logout' %}class="active"{% endif %}>Logout</a></li>
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(category_filter=['create_error']) %}   
    {% if messages %}                              
    <div class="error">
        {% for message in messages %}               
        <p>{{ message }}</p>
        {% endfor %}
    </div>    
    {% endif %}
    {% endwith %}

        <div class="container">
            <div class="update-user">

                <h2>Add a New Business</h2>
                <form action="/business/save" method="POST">
                    <input type="hidden" name="user_id" value="{{session['user_id']}}">
                    <label for="name">Name: </label>
                    <input name="name" type="text">
                    <label for="name">Category: </label>
                    
                    <select name="category_id" id="category_id">
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>

                        {% endfor %}
                    </select>
                    <label for="description">Description: </label>
                    <input name="description" type="text">
                    <label for="link">Link: </label>
                    <input name="link" type="text">
                    <label for="state">State: </label>
                    <input name="state" type="text">
                    <label for="city">City: </label>
                    <input name="city" type="text">
                    <label for="phone_number">Phone number: </label>
                    <input name="phone_number" type="text">
                    <button type="submit">Add Business</button>
                </form>
            </div>  
       
    </div>
</body>

</html>
